@import "../../theme/default";

// Helper theme mixin
// @param $name: name of the theme (HTML class)
// @param $color: color of the theme
@mixin theme($name, $hex) {
  [data-border="#{$name}"] {
    background: $hex !important;
  }
}

// Including themes
// By looping through the $themes map
@each $key, $value in $colors {
  @include theme($key, $value);
}

:host {
  display: block;
}

.outer {
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 1px;
  border-radius: 5px;
}

.container {
  display: flex;
  border: 1px solid $medium;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: #fff;
  transition: border-color 0.2s linear;
}

.focus {
  border-color: transparent;
}

.label {
  font-family: var(--atom-font-family);
  color: $dark;
  font-weight: 300;
  line-height: 2rem;
}

.input {
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 300;
  color: $dark;
  font-family: var(--atom-font-family);
  min-height: 53px;
  padding-left: 20px;

  &::placeholder {
    color: $medium;
    font-weight: 200;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:active {
    border: none;
    outline: none;
  }
}

.pre {
  padding-left: 0;
  padding-right: 5px;
}

.post {
  padding-left: 20px;
  padding-right: 0;
}

.border {
  background: $primary;
  content: "";
  height: 0%;
  left: 0;
  position: absolute;
  top: 0;
  transition: height 0.2s, width 0.2s 0.1s;
  width: 0%;
  z-index: -1;
  border-radius: 5px;
}

.focused {
  height: 100%;
  width: 100%;
}
