// Default Ionic Colors
// -------------------------------------------------------------------------------------------
// Color map should provide
// - base: main color to be used.
// - contrast: Color that will provide readable text against the base color
// - shade: 12% darker version of the base color (mix with black)
// - tint: 10% lighter version of the base color (mix with white)

$primary: var(--atom-color-primary, #720afb) !default;
$secondary: var(--atom-color-secondary, #b988fd) !default;
$success: var(--atom-color-success, #08c8b8) !default;
$warning: var(--atom-color-warning, #fc9b57) !default;
$danger: var(--atom-color-danger, #fc4150) !default;
$info: var(--atom-color-info, #098dea) !default;
$light: var(--atom-color-light, #e2dfe6) !default;
$medium: var(--atom-color-medium, #a59cb2) !default;
$dark: var(--atom-color-dark, #433c4d) !default;
$grey-light: var(--atom-color-grey-light, #f4f5f8) !default;
$grey-medium: var(--atom-color-grey-medium, #92949c) !default;
$grey-dark: var(--atom-color-grey-dark, #222428) !default;

$colors: (
  primary: #720afb,
  secondary: #b988fd,
  success: #08c8b8,
  warning: #fc9b57,
  danger: #fc4150,
  info: #098dea,
  light: #e2dfe6,
  dark: #433c4d,
) !default;

// Default Foreground and Background Colors
// -------------------------------------------------------------------------------------------
// Used internally to calculate the default steps

$background-color-value: #fff !default;
$background-color-rgb-value: 255, 255, 255 !default;

$text-color-value: #000 !default;
$text-color-rgb-value: 0, 0, 0 !default;

$background-color: var(
  --atom-background-color,
  $background-color-value
) !default;
$background-color-rgb: var(
  --atom-background-color-rgb,
  $background-color-rgb-value
) !default;

$text-color: var(--atom-text-color, $text-color-value) !default;
$text-color-rgb: var(--atom-text-color-rgb, $text-color-rgb-value) !default;
